<h1>Information About Tanzania</h1>
<h4>Language</h4>
<p>The official language is Swahili, but English is widely spoken. Most of the people working in the tourism industry speak English and sometimes additional foreign languages.

<h4>Time</h4>
<p>Local times is G.M.T +3HRS

<h4>Electricity</h4>
<p>The electricity supply is 230V. Power failures, surges and troughs are common, so a torch  or headtorch can be your most useful travel accessory. Bring a universal adaptor with you, although many sockets are of the UK 3 pin kind.

<h4>Currency</h4>
<p>The official currency is the Tanzanian Shilling (1$ = 1330 TSh). Main towns and tourist areas have banks and bureau de change. Credit cards are not widely accepted and carry high exchange rates. The best way is to have Shillings and Dollars in small notes with you. Euros are also accepted and are easily changed in Bureau de change.

<h4>Security</h4>
<p>Tanzania is generally a safe and friendly country but be careful with possessions and actions. It’s better to take only small amounts of money with you. In town, take care with your pockets and bags. It is probably advisable not to wear ostentatious jewelry. Do not walk around town at night without a guide and do not invite temptation.

<h4>Clothes</h4>
<p>It’s important to have enough light, washable clothes with you, they will become dirty easily. Mornings and evenings can be cold, so guests will need a long sleeved top, trousers and possibly a jacket. It is recommended that skirts and shorts are not too short, and T shirts cover shoulders. Local sensibilities should always be considered.
<p>At beach destinations, normal swimming costumes are accepted, but not nudity ot topless sun bathing.

<h4>Baggage</h4>
<p><em>Luggage</em><br>
Luggage space is limited on safaris and bags should not exceed more than 20 kilos, plus one small piece of hand luggage per person -excluding a camera bag. Please take a soft bag rather than a hard covered suitcase. While you are on trek or safari it’s possible to leave part of your luggage behind at the hotel.

<h4>Photography</h4>
<p>Be aware that dust and heat can affect cameras. Please ask for permission every time you photograph local people. Take plenty of films or empty memory cards. Recharging batteries can be difficult during a safari, it is advisable to have spare batteries.

<h4>Tipping</h4>
<p>Tips are not compulsory. But if you have been satisfied by the services, if you had good time, the staff will appreciate tips. Nevertheless, you should not give more than 15% of the tour price.

<h4>Travel- Airports</h4>
<p>Tanzania has several international airports: Kilimanjaro International Airport, Dar-es-Salaam International Airport and Zanzibar International Airport. There are daily flights from and to Europe, with several airlines (Kenyan Airways, Air France, KLM, British Airways, Emirates, Ethiopian Airlines, Quatar Airline) The best starting point for a safari or a trek is Kilimanjaro International Airport.
<p>Another, less expensive, option is to fly to Jomo Kenyatta International airport in Nairobi, Kenya. There are a number of shuttle buses starting at the airport heading to Arushu and Moshi. The 7 hour trip is interesting, and gives plenty of sightseeing opportunities.

<h4>Travel insurance</h4>
<p>For your own safety, it is recommended that a specialist policy is taken out for trekking to the maximum altitude to be reached. Alongside: trip cancellation, interruption for sickness/death, flight delay, lost or stolen baggage, emergency medical transportation, doctor or hospital payments and travel accidents.
<p>This will make sure that you receive help in case of any illness or accident during your trek or safari, should you need help from other medical transportation like the Flying Doctor Society.

<h4>Tanzania weather</h4>
<table class="table">
<tr>
	<th>Month</th>
	<td>01</td>
	<td>02</td>
	<td>03</td>
	<td>04</td>
	<td>05</td>
	<td>06</td>
	<td>07</td>
	<td>08</td>
	<td>09</td>
	<td>10</td>
	<td>11</td>
	<td>12</td>
</tr>
<tr>
	<th>Min. Temp.°C</th>
	<td>25</td>
	<td>25</td>
	<td>24</td>
	<td>23</td>
	<td>22</td>
	<td>20</td>
	<td>19</td>
	<td>19</td>
	<td>19</td>
	<td>21</td>
	<td>22</td>
	<td>24</td>
</tr>
<tr>
	<th>Max. Temp.°C</th>
	<td>31</td>
	<td>31</td>
	<td>31</td>
	<td>30</td>
	<td>29</td>
	<td>29</td>
	<td>28</td>
	<td>28</td>
	<td>28</td>
	<td>29</td>
	<td>30</td>
	<td>31</td>
</tr>
<tr>
	<th>Humidity %</th>
	<td>78</td>
	<td>78</td>
	<td>81</td>
	<td>83</td>
	<td>80</td>
	<td>74</td>
	<td>74</td>
	<td>74</td>
	<td>74</td>
	<td>74</td>
	<td>76</td>
	<td>78</td>
</tr>
<tr>
	<th>Rainy Days</th>
	<td>8</td>
	<td>6</td>
	<td>12</td>
	<td>19</td>
	<td>15</td>
	<td>6</td>
	<td>6</td>
	<td>7</td>
	<td>7</td>
	<td>7</td>
	<td>9</td>
	<td>11</td>
</tr>
</table>

<p>Tanzania’s climate is equatorial and mostly tropical. Coastal areas are usually hot and humid, but a light sea breeze cools the air on the beaches.
<p>Tanzania has two rainy seasons: the long rainy season from March up to the end of May and a short rainy season between November and mid December. The hottest period is from December to March, the coolest months are June, July and August. On high-altitude regions, like Kilimanjaro and Ngorongoro Crater highlands, temperatures can fall below freezing.

<h4>Which season is best for your safari trip?</h4>
<p>The best time to travel depends on the region you want to visit and the animals you wish to spot. Some reserves have a good game viewing all the year. Others offer less viewing opportunities if visited during the dry season.

<p><strong><em>Northern Circuit (Serengeti, Ngorongoro, Tarangire, Manyara, Arusha)</em></strong><br>
These National parks are recommended for year round visits, including the the rainy season. In the dry season (July – October) animals are concentrated around water reservoirs. The grass is shorter and the animals are more easily seen, as well as the hunting activities. From November to June the land is greener and the grass is longer.

<p><strong><em>Southern Circuit (Selous, Ruaha) </em></strong><br>
The best time to visit is during the dry season, from July to the end of October. During the rainy season it’s more difficult to spot animals in the wide open plains.</p>