<h1 class="page-title">Contact <small>Information</small></h1>
<sectiion>
<br>
<address class="span4">
	<strong>Tanzania</strong><br>
	BLESS AFRICA Tours and Safaris <br>
	PO Box 858, <br>
	Moshi, Kilimanjaro, <br>
	Tanzania <br><br>
	<strong>Mobile:</strong> +255 717 061 502 <br>
	<strong>Landline:</strong> +255 712 556 689 <br><br>
	<strong>Email:</strong> <a href="mailto:&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x62;&#x6C;&#x65;&#x73;&#x73;&#x61;&#x66;&#x72;&#x69;&#x63;&#x61;&#x74;&#x6F;&#x75;&#x72;&#x73;&#x2E;&#x63;&#x6F;&#x6D;">info@blessafricatours.com</a> 
	<a href="mailto:&#x67;&#x6F;&#x64;&#x62;&#x6C;&#x65;&#x73;&#x73;&#x5F;&#x65;&#x6D;&#x69;&#x6C;&#x40;&#x79;&#x61;&#x68;&#x6F;&#x6F;&#x2E;&#x63;&#x6F;&#x6D;">godbless_emil@yahoo.com</a>
</address>

<address class="span4">
	<strong>United Kingdom</strong><br>
	BLESS AFRICA Tours and Safaris <br>
	The Granary Church Farm,<br>
	Station Road, <br> 
	South Willingham, Lincolnshire, <br>
	United Kingdom <br><br>
	<strong>Mobile:</strong> +44 0000 000 000 <br>
	<strong>Landline:</strong> +44 0000 000 000 <br><br>
	<strong>Email:</strong> <a href="mailto:&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x62;&#x6C;&#x65;&#x73;&#x73;&#x61;&#x66;&#x72;&#x69;&#x63;&#x61;&#x74;&#x6F;&#x75;&#x72;&#x73;&#x2E;&#x63;&#x6F;&#x6D;">info@blessafricatours.com</a> 
	<a href="mailto:&#x67;&#x6F;&#x64;&#x62;&#x6C;&#x65;&#x73;&#x73;&#x5F;&#x65;&#x6D;&#x69;&#x6C;&#x40;&#x79;&#x61;&#x68;&#x6F;&#x6F;&#x2E;&#x63;&#x6F;&#x6D;">jo@blessafricatours.com</a>
</address>

</sectiion>