<article class="accommodation">
	<h1>ACCOMMODATION LIST</h1>
	
	<section>	
		<h2>Accommodation in Moshi</h2>
	
		<p>Hotels in Moshi can be base hotels for Mount Kilimanjaro and Mount Meru treks as well as all Safaris</p>
		<p><strong>Ameg lodge</strong><br>
		<em>Luxury hotel</em><br>
		Ameg lodge is based at the foot of Mt. Kilimanjaro in Tanzania. Set in a 4.5 acre area, it has been constructed with local Tanzanian materials and designed to combine both antique and modern African styles, creating a unique and enjoyable experience for  guests. 
		<br>
		<a href="http://www.ameglodge.com" title="AMEG Lodge Tanzania">www.ameglodge.com</a>
		</p>
	
		<p><strong>Moshi Leopard Hotel</strong><br>
		<em>Standard hotel</em><br>
		Located along Market Street and centrally placed within the shopping and business area of Moshi, the hotel offers a panoramic view of Mount Kilimanjaro. The hotel is only 35 minutes from the Kilimanjaro International Airport and 5 minutes from the Moshi airport and the bus station. 
		<br>
		<a href="http://www.leopardhotel.com/" title="Leopard Moshi Hotel - Home">www.leopardhotel.com/</a>
		</p>
	
		<p><strong>Osy Grand Hotel</strong><br>
		<em>Standard hotel</em><br>
		The Osy Grand Hotel is located in the centre of Moshi. The hotel is locally owned and caters for mid-range and budget travellers.  The rooms on the upper floors of the hotel offer panoramic views of Mount Kilimanjaro.	<br>
		<br>
		<a href="http://www.osygrandhotel.com/" title="">www.osygrandhotel.com/</a>
		</p>
	
		<p><strong>Osy Grand Hotel</strong><br>
		<em>Standard hotel</em> <br>
		The Osy Grand Hotel is located in the center of Moshi. The hotel is locally owned and caters for mid-range and budget travelers.  The rooms on the upper floors of the hotel offer panoramic views of Mount Kilimanjaro.
		<br>
		<a href="http://www.osygrandhotel.com/" title="">www.osygrandhotel.com/</a>
		</p>
		
		<p><strong>Keys Hotel</strong><br>
		<em>Mid-range hotel</em><br>
		The Keys Hotels is one of a chain in Tanzania. Located on Uru Road, on the outskirts of Moshi, it is a modern building with a range of facilities including pool. The hotel is located in an area where you can easily see the snows of Mount Kilimanjaro.  
		<br>
		<a href="http://www.keys-hotel-tours.com" title="Climbing Mt. Kilimanjaro / Meru | Best Professional Guides | Keys Hotel Tours Ltd.">www.keys-hotel-tours.com</a>
		</p>
	</section>
	
	<section>
		<h2>Accommodation in Arusha</h2>
		<p>Hotels in Arusha can be base hotels for the Mount Meru trek and all Safaris.</p>
		<p>If you specifically want to stay in Arusha, please talk to one of our team who will be able to advise on the most suitable hotel for your needs.</p>
		
		<p><strong>Out Post Lodge</strong><br>
		<em>Standard hotel</em> <br>
		This is a long established hotel in the centre of Arusha. It caters to both travelers on both business and pleasure. There is a pool area and lush gardens.
		<br>
		<a href="http://outposttanzania.net" title="'BnB at  Best'  recommended by ROUGH GUIDES..">http://outposttanzania.net</a>
		</p>
		
		<p><strong>Arusha Mountain Village</strong> <br>
		<em>Superior/luxury hotel</em><br>
		The Arusha Mountain Village is one of the Serena hotels. It is located about 12km from the centre of Arushu, in a more quiet semi-rural environment. Because it is part of the Serena group, a high standard of accommodation and facilities can be expected.
		<br>
		<a href="http://www.serenahotels.com/serenaarusha/default-en.html" title="Arusha Mountain Village - Arusha Lodge Hotel Tanzania">www.serenahotels.com/serenaarusha/default-en.html</a>
		</p>
		
		<p><strong>Moivaro Lodge</strong><br>
		<em>Superior accommodation</em><br>
		Part of the Moivaro group, the Moivaro Lodge offers high quality accommodation set in picturesque garden cottages set in beautiful gardens, each with their own veranda and all the modern comforts. Additional acilities include a swimming-pool, children's play ground, 2km nature trail, massage room, internet facilities and room service.
		<br>
		<a href="http://www.moivaro.com/pages/moivaro_lodge/lodge.htm" title="Welcome to Moivaro Lodge - Tanzania">www.moivaro.com/pages/moivaro_lodge/lodge.htm</a>
		</p>
	</section>
	
	<section>
		<h2>Accommodation on Safari</h2>
		<p>Please be aware that there are many different lodgings available while on safari. We have listed examples of different types of accommodation. If guests would like to stay in a specific hotel or lodge we can include this in the itinerary.</p>
		<p>Wildlife Lodges are the original accommodation, built when tourism became part of Tanzania’s growing economy, consequently they are in the prime locations within the parks.</p>
		<p>There are hotel groups, for example Sopa, who ensure consistent standards across their hotels. Tented lodges are often luxurious and set within beautiful, peaceful surroundings. For a true nature experience we would recommend fully supported camping, with cook. If you choose this option you will truly be one with nature.</p>
		
		<h3>Ngorongoro Crater</h3>
		<p><strong>Ndutu Safari Lodge</strong> <br>
		<em>Superior Game Lodge	</em><br>
		This game lodge, shaded by majestic acacia trees, consists of thirty four cottages, which are built of local materials. Each has a private verandah facing Lake Ndutu. The Lodge is surrounded by indigenous trees and shrubs which encourage a host of birds and mammals to come right to your front door. Tucked well away from the busy tourist circuit, Ndutu offers the opportunity to experience peace and tranquility.
		<br>
		<a href="http://www.ndutu.com" title="Serengeti: Ndutu Safari Lodge">www.ndutu.com</a>
		</p>
		
		<p><strong>Ngorongoro Sopa Lodge</strong><br>
		<em>Superior Game Lodge</em><br>
		This Game Lodge is part of the Sopa group, so high standards of accommodation can be expected. Set on the rim of the Ngorongoro Crater, some rooms offer beautiful views over the caldera. 
		<br>
		<a href="http://www.sopalodges.com/ngorongoro/home">www.sopalodges.com/ngorongoro/home</a>
		</p>

		<p><strong>Lemala Luxury Camp Ngorongoro </strong><br>
		<em>Luxury Tented Accommodation </em><br>
		Lemala Ngorongoro is a small, seasonal camp set in a delightful, ancient acacia forest on the rim of the crater next to the quiet Lemala access route. The camp offers accommodation under canvas in only 8 luxury tents (accommodating 16 to 20 guests) and 1 family tent (accommodating 4 to 5 guests), which ensures seclusion in a pristine forest environment. 
		<br>
		Each spacious tent is fitted with a gas heater, large single or king-size beds with warm duvets, wooden flooring with rugs, 24-hour solar lighting, en-suite bathrooms with a dressing area, flush toilet and a large safari shower. House alcoholic and non-alcoholic drinks and laundry are included.
		<br>
		<a href="http://www.lemalacamp.com/ngorongoro.htm" title="Lemala Ngorongoro">www.lemalacamp.com/ngorongoro.htm</a>
		</p>

		<p><strong>Simba campsite Ngorongoro Crater Rim</strong><br>
		<em>Fully supported camping experience</em> <br>
		The campsite we use on the edge of the Ngorongoro Crater enables our guests to experience a true wilderness experience.  The campsite may be visited by zebra and warthogs, and other game. Fires are burned at night time to ward off large game, and there are guards to ensure safety. 
		<br>
		There are hot showers, toilets and dining area to be used by campers. The tour cook will provide cooked breakfast and dinner, with a packed lunch. The tents will be erected and taken down by Bless Africa Tours staff.
		</p>
		
		<h3>Lake Natron</h3>
		<p><strong>Lake Natron Tented camp</strong><br>
		Lake Natron tented camp is located close to Lake Natron, and offers peace and relaxation. Lake Natron lies in the northeast of Tanzania between the Ngorongoro Highland and Serengeti plains. The Lake is one of the most alkaline in the world. It is home to millions of lesser flamingoes. The Lake its situated at the base of Africa’s only active volcano, Ol Doinyo 
		Lengai, <strong>‘The Mountain of God’</strong>.
		<br>
		<a href="http://www.moivaro.com" title="Moivaro Lodges and Tented Camps, Tanzania.">www.moivaro.com</a>
		</p>
		
		<h3>Tarangire National Park</h3>
		
		<p><strong>Tarangire Safari Lodge</strong><br>
		<em>Standard Lodge</em><br>
		Tarangire Safari Lodge was the first to be built in the park. Since 1985, it has been owned and managed by the Simonson family who have added a very personal touch. At the heart of the lodge are the impressively high thatched roofs of the lounge and dining area. The open design allows for an uninterrupted landscape view and captures the cooling breeze. Between game viewing excursions, relax in the large, comfortable lounge, enjoy a refreshing swim in the pool or browse in the Baobab Boutique. 
		<br>
		Accommodation choices are either a traditional canvas tent or a roomy stone bungalow, with all rooms having a direct valley view. 
		<br>
		<a href="http://www.tarangiresafarilodge.com" title="Tarangire Safari Lodge">www.tarangiresafarilodge.com</a>
		</p>

		<p><strong>Lake Burunge Tented Camp</strong><br>
		<em>Deluxe Tented Camp</em> <br>
		Lake Burunge Tented Camp is only a 20-minute drive away from Tarangire National Park. Lake Burunge Tented Camp consists of 20 Luxury Tents and 10 Lodge Rooms located in a shady bushland grove, with spectacular views onto Lake Burunge. Its main building offers a central lounge and bar/dining area built on a raised wooden deck. This elevated platform is the ideal venue for guests to relax and enjoy a sun downer whilst the sun disappears over the lake, or to simply sit and enjoy the warm fire place on cooler evenings.
		<br>
		<a href="http://www.tanganyikawildernesscamps.com" title="African Safari Luxury Camps and Lodges in Tanzania | Tanganyika Wilderness Camps Ltd.">www.tanganyikawildernesscamps.com</a>
		</p>

		<p><strong>Tarangire Sopa Lodge</strong><br>
		<em>Deluxe Lodge</em><br>
		The Tarangire Sopa Lodge is located inside Taringire National Park. It is part of the Sopa group, so high standards of accommodation, dining and facilities can be expected.
		<br>
		www.sopalodges.com/
		</p>

		<p><strong>Tarangire Tree tops</strong><br>
		<em>Luxury accommodation</em><br>
		Tarangire Tree Tops is located southwest of Arusha and south of the large open grass plains of southern Maasai land. Named after the Tarangire River that flows through the Tarangire National Park.
		<br>
		<a href="http://www.elewanacollection.com/tarangire-treetops/tarangire-treetops-at-a-glance" title="Tarangire Treetops, A Dream High in The Trees - Elewana Collection">www.elewanacollection.com/tarangire-treetops/tarangire-treetops-at-a-glance</a>
		</p>
		
		<h3> Lake Manyara</h3>
		<p>Accommodation around Lake Manyara is as varied as the range of wildlife that lives within the National Park, ranging from tented safari camps to exclusive lodges. </p>
		
		<p><strong>Haven Nature Tented Camp</strong><br>
		<em>Standard accommodation</em><br>
		Havennature Safari Camp and Lodge is nestled in a quiet corner on the north of the Lake Manyara National Park about 15 minutes drive from the entrance of Lake Manyara National Park. The Lodge is located at the heart of the most world’s and famous Northern Circuit Tanzania National Parks which include Tarangire, Lake Manyara, Ngorongoro and Serengeti National Parks. 
		<br>
		Being centrally located the lodge is a good choice if you prefer to stay in one location and have time to explore and experience the northern circuit national parks with pleasure and leisure without shifting from one lodge to another every time you enter into another national park.
		<br>
		<a href="http://www.lakemanyarasafaris.com" title="Welcome to Lake Manyara Havennature Safari Lodge &amp; Camp :: Safari Lodge in Lake Manyara :: Lodges in Lake Manyara National Park
		:: Game Lodges in Lake manyara national park,campsite in lake manyara,camping in lake manyara national park,budget camping in lake manyara,
		haven nature lodge in lake manyara tanzania, heaven nature lodge in lake manyara,safaris in lake manyara,lake manyara safaris in tanzania">www.lakemanyarasafaris.com</a>
		</p>
		
		<p><strong>Migunga Tented Camp Standard Game Lodge</strong><br>
		Migunga Tented Camp is nestled away in a quiet corner of 35 acres of acacia forest and consists of 19 semi-luxury permanent tents on raised platforms with attached bathrooms and private veranda. A year ago Migunga benefited from an upgrade which consisted of the addition of 11 new ensuite spacious meru tents and a new wood and thatch main building which houses the restaurant, bar and reading area. All the tents are discreetly placed around a central glade, offering shade and privacy but still only a short walk to the restaurant and bar. 
		<br>
		<a href="http://www.moivaro.com/pages/migunga_forest_camp/lodge.htm" title="Welcome to Migunga Tented Camp, Tanzania.">www.moivaro.com/pages/migunga_forest_camp/lodge.htm</a>
		</p>
		
		<p><strong>Manyara Wildlife Lodge Standard Game Lodge</strong><br>
		One of the original safari lodges, the Lake Manyara Wildlife Lodge is situated in a stunning location overlooking the Lake. Lake Manyara Wildlife Lodge is strategically located on the very edge of the vertiginous western escarpment of the Rift Valley, affording magnificent views down across the whole Lake.
		<br>
		Lake Manyara Wildlife Lodge will give an unforgettable safari experience from its privileged location, unrivalled by any other, both for game viewing and scenery. Elegantly designed as a two-level ensemble of buildings, its authentic traditional African style decorations create a unique atmosphere that perfectly combines extreme tranquility with the best of adventure-packed safari experiences. From its privileged position, all the Lodge’s 100 guest rooms have stunning views across the tranquil and beautiful waters of the Lake.
		<br>
		<a href="http://www.hotelsandlodges-tanzania.com/properties/en/manyara_index.php" title="LAKE MANYARA WILDLIFE LODGE">www.hotelsandlodges-tanzania.com/properties/en/manyara_index.php</a>
		</p>
		
		<p><strong>Manyara Serena Safari Lodge</strong><br>
		<em>Luxury Game Lodge</em><br>
		Grouped around a central ‘vanishing horizon' pool, this highly unusual lodge features a simple timbered reception area, built in traditional African style, which is accessed via a bridge over a small stream. Beyond the reception area, lies the central dining room, bar and veranda, below which lies the pool. Perched on the very edge of the cliffs, with stunning views over the lake is the pool bar and observation point. Dotted around the grounds, all with views over the lake, are a series of circular two-storey ‘rondavels', which house the rooms.
		<br>
		<a href="http://www.serenahotels.com/serenalakemanyara/default-en.html" title="Lake Manyara Serena Safari Lodge - Lodge In Lake manyara national park tanzania">www.serenahotels.com/serenalakemanyara/default-en.html</a>
		</p>
		
		<p><strong>Twiga lodge &amp; Camp Standard hotel &amp; Campsite</strong> <br>
		Based at Mto wa Mbu, just outside Lake Manyara the campsite is 5 minutes from the park gate. It offers both camping accommodation with showers, hot water and toilets. There are also en-suite rooms. There is also a restaurant, bar and curio shop on site. If a central base is required, the Twiga lodge is placed between the Tarangire National Park and Lake Manyara.
		<br>
		<a href="http://www.twigacampsitelodge.com" title="Twiga Campsite &amp; Lodge">www.twigacampsitelodge.com</a>
		</p>
		
		<p><strong>Kirurumu Tented Camp</strong><br>
		<em>Standard Tented Game Lodge</em> <br>
		Kirurumu Tented Lodge is set high on the edge of the Great Rift Valley, enjoying a marvellous, uplifting and panoramic view eastward over Lake Manyara to Mt. Losimingori and miles of seemingly untouched Africa. Impact on the Lodge's surroundings has been absolutely minimal, all utility lines are carefully placed underground and hot water is created by solar panels. As a result, bird life around the Lodge has increased and even the shy Dik-Dik, the smallest of the antelope family, has remained resident around camp.
		<br>
		The 20 tents are secure, secluded and spacious with deck-style wooden verandahs. All tents are insect proof with modern en-suite bathrooms, hot and cold running water, soft lighting and flush toilets. The thatched dining room offers a wonderful view and selection of excellent local and European dishes. 
		<br>
		<a href="http://www.kirurumu.net/kirurumu_manyara_lodge.html" title="Kirurumu Under Canvas : Kirurumu Manyara Lodge, Lake Manyara National Park">www.kirurumu.net/kirurumu_manyara_lodge.html</a>
		</p>
		
		<h3>Serengeti National Park</h3>
		
		<p><strong>Lobo Wildlife Lodge</strong><br>
		<em>Standard Wildlife Lodge</em> <br>
		Lobo Wildlife Lodge is one of the original wildlife lodges and its remote location, strategically built into an enormous volcanic rocky outcrop, is one of its outstanding features. It is the largest lodge on the migration route, and because of it's elevated position, the migration can be viewed from the comfort of a sun lounger. You can watch and witness the migration even from the pool.  Made of stone and local timber around clusters of large boulders, harmoniously merging with its surroundings, the Lodge  gives, from its raised location, stunning views of the most amazing natural spectacle to be seen on Earth. 
		<br>A waterhole below the Lodge attracts a variety of wildlife during the day and is lit each evening, revealing an interesting array of nocturnal animals, providing a close encounter with the very authentic wildlife. All the Lodge’s 75 elegant guestrooms afford superb views of this unbelievable natural phenomenon, and the sumptuous swimming pool is situated on the very edge of the rock, offering uninterrupted views of the horizon. 
		<br>
		<a href="http://www.hotelsandlodges-tanzania.com" title="Hotels and Lodges Tanzania">www.hotelsandlodges-tanzania.com</a>
		</p>

		<p><strong>Serengeti Sopa Lodge</strong><br>
		<em>Standard Game Lodge</em>
		The Serengeti Sopa Lodge is located inside the National Park.. <br>
		As it is part of the Sopa group, high standards of accommodation, dining and facilities can be expected. Set within Acacia woodland, in the Nyarboro hills overlooking the plains of the Serengeti, it will give an outstanding opportunity to be part of the wilderness that is the Serengeti National park.
		<br>
		<a href="http://www.sopalodges.com/" title="SopaLodges | Welcome">www.sopalodges.com/</a>
		</p>

		<p><strong>Mbalageti Safari Lodge</strong><br>
		<em>Luxury Lodge</em><br>
		Mbalageti Serengeti is located in the western corridor of the Serengeti National Park, Tanzania. The Lodge offers a breathtaking 360-degree panorama view of the Serengeti Plain lands and the Mbalageti River, where one of the main attractions is the annual migration of wildebeest and zebra.
		<br>
		The Mbalageti Safari Lodge can offer a range of accommodation. From the exclusive suites, with a little extra of everything and a private bath outdoors in the wild, the suites offer the most exclusive way of safari living imaginable.
		</p> 
		<p>There are luxurious safari-style tents, each with en-suite bathroom and spectacular view. Each has a private veranda with a cooling thatched roof  which acts as a tranquil oasis and works as an extension of your bedroom in the wild.
		<br>
		Also, the lodge offers 14 standard type rooms. All rooms are beautifully decorated in a modern design for a feeling of comfort, featuring en suite bathrooms and a small veranda.
		<br>
		<a href="http://www.mbalageti.com">www.mbalageti.com</a>
		</p>
		
		<p><strong>Ikoma Safari Camp</strong><br>
		<em>Standard tented camp</em> <br>
		Ikoma Safari Camp is a permanent tented camp in the Serengeti Ikoma region in Tanzania. The Camp is located on the main wildebeest migration route between the Serengeti and the Masai Mara. It is raised up on the side of an impressive bush with broad scattered acacia trees and endless savannah.
		</p>
		<p>The camp consists of 3 tented suites, 2 tented family suites and 4 exclusive round traditional tented suites spread out to ensure privacy and exclusivity. Each has full en-suite bathroom and a private veranda from wich you can enjoy the panoramic views of the nature.
		<br>
		<a href="http://www.ikomasafaricamp.com/home.html" title="Home ISC Ikoma Safari Camp">www.ikomasafaricamp.com/home.html</a>
		</p>
		
		<p><strong>Serengeti Campsite</strong> <br>
		<em>Fully supported camping experience.</em><br>

		The campsite we use in the middle of the Serengeti National park enables our guests to experience a true wilderness experience. 
		<br>
		There are hot showers, toilets and dining area to be used by campers. The tour cook will provides cooked breakfast and dinner, with a packed lunch. The tents will be erected and taken down by the Bless Africa Tours team.
		</p>
	</section>
	
	<section>
		<h2>Zanzibar Accommodation</h2>
		<p>Zanzibar has a large number of differing accommodation types to suit all travelers. </p>
		<p>Most  people like to make the most of the Zanzibar experience by selecting a property in Stone Town for a few days, followed by a beach side stay.</p>
		<p>Because of being in the town centre most Stone Town hotels have limited outside and garden areas, but are steeped in character and are architecturally interesting.</p>
		
		<p><strong>Swahili House Hotel</strong><br>
		Swahili House Hotelis located in the bustling heart of Stone Town. The building was originally set up and used as an Indian Merchant House in the 19th century. In the 125 years that were to come the building was home to one of the many Sultan families. More recently, it became a hotel.
		<br>
		<a href="http://www.theswahilihouse.com" title="The Swahili House">www.theswahilihouse.com</a>
		</p>
		
		
		<p><strong>Mtoni Marine Hotel</strong> <br>
		Mtoni Marine is located on the west coast of Zanzibar, 10 minutes north of Stone Town and neighbouring the legendary Mtoni Palace. This laid back and family friendly hotel is the ideal location from which to explore Stone Town and the rest of the island. It provides a peaceful retreat from it all. The hotel offers great facilities including a newly built infinity pool.
		<br>
		<a href="http://www.mtoni.com" title="Welcome to Mtoni Marine - Zanzibar">www.mtoni.com</a>
		</p>

		<p><strong>Hakuna Matata Beach Lodge</strong> <br>
		Hakuna Matata Beach Lodge is situated on the west coast of this wonderful island, only 12km north of Stone Town. You will find the Hakuna Matata Beach Lodge surrounded by big mango trees, in the Chuini Ruins, the palace of the last sultan of Zanzibar, with its own private sand beach. They offer 9 first class bungalows, all with a big terrace, full ocean view, beautiful interior, AC, hot/cold water, fan and perfect service. The restaurant offers a high class cuisine with national and international food.
		<br>
		<a href="http://www.hakuna-matata-lodge.com">www.hakuna-matata-lodge.com</a>
		</p>

		<p><strong>236 Hurumzi</strong><br>
		236 Hurumzi, is one of the best Zanzibar hotels, in the heart of Stone Town. The Hotel rises above standard accommodation by providing elegant, traditionally furnished, airy rooms & a tower top restaurant with a view over Stone Town.
		<br>
		<a href="http://236hurumzi.com/">http://236hurumzi.com/</a>
		</p>
		
		<h3>Zanzibar East Coast Hotel Resorts</h3>
		<p>The east coast of Zanzibar is lined with powder-white beaches looking out towards a long barrier reef, about a kilometres offshore. Voted and included in the Top 30 Island Beaches in the world by the prestigious Conde' Nast Traveller. </p>
		<p>Inland there is a coastal strip of coconut palms within which there are small fishing villages and a variety of places to stay.</p>
		
		<p><strong>Mchanga Beach Lodge</strong><br>
		Nestled between one of Zanzibar’s most pristine white, power-sand beaches and swaying coconut palms lies the romantic Mchanga Beach Lodge. Tranquillity and nature abound here. For a close-up encounter with the uncomplicated rhythm of a tropical island holiday, with one beautiful day unfolding into the next, stay at the Mchanga Beach Lodge, Zanzibar. As an “after-safari” beach R&R, Mchanga Beach Lodge will allow the magic to continue uninterrupted.
		<br>
		<a href="http://www.mchangabeachlodge.com/" title="Zanzibar beach resort | Accommodation Zanzibar | Zanzibar accommodation | Beach bungalos Zanzibar | Beach accommodation Zanzibar | Book accommodation Zanzibar | Mchanga Beach Lodge - Zanzibar">www.mchangabeachlodge.com/</a>
		</p>
		
		<p><strong>Pongwe Beach Hotel</strong> <br>
		This tranquil beach destination is the ideal place to soak up and enjoy Zanzibar's distinctive mellow pace. It is ideal for those looking for that extra special honeymoon or a holiday with an air of exclusivity. Pongwe Beach Hotel is a modestly sized hotel with ten traditional sea view cottages.
		<br>
		<a href="http://www.pongwe.com/" title="Pongwe Beach Hotel - Zanzibar - Tanzania - Africa">www.pongwe.com/</a>
		</p>
		
		<h3>Zanzibar north coast hotel resorts </h3>
		<p>2 hours drive from Stone Town, the village of Nungwi has traditionally been the centre of Zanzibar's dhow-building industry. Over the last decade however the coastline here has turned into one of Zanzibar’s busiest beach areas. What was once a ramshackle fishing village has now become increasingly busy with various guesthouses, bars, shops and restaurants. The setting is beautiful, and might be more suitable for visitors wanting a mixture of beautiful beaches and nightlife.</p>
		
		<p><strong>Flame Tree Cottages</strong> <br>
		This is a small guest house a short walk from the Nungwi Centre. It is near enough to take part in the nightlife, but far enough away for you to get a good night's sleep even when there are still revelers on the beach.
		<br>
		www.flametreecottages.com/
		</p>

		<p><strong>Kendwa Breezes, Nungwi, Zanzibar</strong><br>
		This hotel is situated on the north western, exclusive tip of Zanzibar. It is spacious, quiet, informal and friendly. It is the perfect place for complete relaxation. At Kendwa Breezes, Nungwi, Zanzibar you can relax, stare at the stars and enjoy one of the most spectacular beach. This ‘million-dollar’ beach front nestles the pristine turquoise azures and aqua’s from the gentle Indian Ocean, lush greens from the surrounding foliage and crystal granules of the Kendwa beach sand.
		<br>
		<a href="http://www.zanzibarmagic.com/english2nd/kendwa%20breezes%20nungwi%20beach%20zanzibar.htm" title="Kendwa Breezes Nungwi Beach Resort Zanzibar">www.zanzibarmagic.com/english2nd/kendwa%20breezes%20nungwi%20beach%20zanzibar.htm</a>
		</p>
		
		<p><strong>Sunset Beach Bungalows</strong><br>
		These beach bungalow are a beautiful place to stay in Northern Zanzibar.  Mixing the beautiful powder white sands of Kendwa's Beach with sunsets and The rooms are traditionally furnished and self contained rooms. They will allow you to experience true Zanzibarian hospitality and satisfy your desire for a dream spice island holiday. There is a bar and restaurant which are situated on Kendwa Beach. 
		<br>
		<a href="http://sunsetkendwa.com/" title="~ Sunset Bungalows Kendwa ~">http://sunsetkendwa.com/</a>
		</p>

		<p><strong>Ras Nungwi Beach Resort</strong> <br>
		This is a small beach resort. There are 32 rooms which are are tastefully furnished, with hand-crafted four poster beds and indigenous décor and all have en suite facilities and balconies.
		<br>
		<a href="http://www.rasnungwi.com/" title="Zanzibar Hotel | Beach resort and spa in Zanzibar | Ras Nungwi Beach Hotel">www.rasnungwi.com</a>
		</p>

		<p><strong>Bluebay Hotels Zanzibar</strong> <br>
		Bluebay Hotels Zanzibar offers a choice of three impeccable luxury holiday hideouts on the pristine Indian Ocean Island of Zanzibar. Each of these properties are unique. There are two beach resorts which are geared towards meeting every travellers needs. Collectively, they are regarded as among the best hotels and resorts that Zanzibar has to offer.
		<br>
		<a href="http://www.bluebayzanzibar.com" title="Home | Bluebay Hotels Zanzaibar">www.bluebayzanzibar.com</a>
		</p>
	</section>
	
	<section>
		<h2>Tanzanian coast beach resorts</h2>
		<h3>Ushongo</h3>
		<p>Ushongo Beach is one of the little known secrets of the Tanzania coast. It is quiet, has a beautiful white sandy beach fringed by coconut palms, and generally is an ideal place in which to relax. For families, it is an idyllic spot for prime time with children. The bay has no undercurrents, no big breakers, no sharks, no hawkers and no crime. The beach is protected by three reefs, the furthest one with excellent snorkelling and scuba diving.</p>
		
		<p><strong>Tulia Beach Lodge</strong><br>
		The Tulia beach lodge is located on a quiet beach, a kilometer in each direction from another lodge and a small village. Facilities include; beachside sun chairs, restaurant, full bar and games room.The rooms are fitted with local Makuti thatch and in resort style each cabin has its own veranda. The cabins are a stones’ throw away from the beach and are all equipped with fans and en-suite bathrooms. Each room includes: wrap around bed nets, private bathroom and full porch.
		<br>
		<a href="http://www.tuliabeachlodge.com/" title="Tulia Beach Lodge | Another Exquisite Serengheti Select Destination">www.tuliabeachlodge.com/</a>
		</p>
		
		<p><strong>Pangani</strong><br>
		Pangani is a busy port and town. The coast to the south is very beautiful, and in places deserted, except for the local people busy catching fish from the sea. The beaches are white, fringed by vegetation, and dream-like.
		</p>

		<p><strong>Mkoma Bay Tented Lodge</strong><br>
		Mkoma Bay's trademark is their luxury tented accommodation. For families or groups there is a larger Swahili Style house overlooking Mkoma Bay. The beautiful unspoiled beach makes Mkoma Bay a very romantic spot. 
		</p>
		<p>Guests can relax under a shady tree over looking Mkoma Bay, take a swim in the pool or walk on the quiet beach. Just off the mainland, there is spectacular snorkeling and diving off the reefs of Maziwe Island which are a virtual underwater paradise. Mkoma Bay has its own boat to take you up the Pangani River looking for birds or the illusive crocodile! Explore old Pangani on a walking tour arranged with local guides. </p>
		<p>To give a feeling of being on safari, yet with a cool ocean breeze, the Lodge offers nine thatch covered tents nestled in a forest like environment. Each tent is equipped with a king sized or two large single Zanzibari beds and en suite showers and bathrooms, writing desk and chair, fan, and mosquito net. The veranda provides views of the lush garden and a place to have a cool drink.
		<br>
		<a href="http://www.mkomabay.com/lodge-in-tanzania/about-mkoma-bay/" title="Mkomabay Tented Lodge at the indian ocean in Tanzania: About Mkoma Bay">www.mkomabay.com/lodge-in-tanzania/about-mkoma-bay/</a>
		</p>
	</section>
</article>
