<h1 id="page-title">Our Tours Guides and Porters</h1>
<p>The importance of having competent, high quality guides and porters cannot be overstated when it comes to climbing Mount Kilimanjaro. Bless Africa guides have received extensive training in first aid, mountain rescue, flora and fauna, and history. All are registered with Kilimanjaro National Park (KINAPA).</p>
<p><strong>Our Kilimanjaro guides are very experienced, with most having climbed more than 100 times! They are professionals who intimately know the mountain.</strong></p>
<p>You can expect the following from your Kilimanjaro guide:</p>
<ul>
	<li>
		<strong>High Safety Standards</strong> Your guide can identify and avoid potential hazards such as slippery trails and loose rocks. Your guide can prevent, recognise and treat altitude-related illnesses.
	</li>
	<li>
		<strong>Climb Knowledge</strong> Kilimanjaro trails are clearly marked, so following a trail should not pose a problem. But there are more intricate things that your guide will take into consideration when deciding when, where, and how to move the party. These things include weather conditions, trail density, rest stops, pace, etc.
	</li>
	<li>
		<strong>Mountain Facts</strong> Your guide is knowledgeable about general mountain facts. He can tell you about the climate zones, the altitudes of and distances to campsites, and information about the geology, flora and fauna. These types of facts increase the enjoyment during the trek by giving you more information about what you are seeing and feeling.
	</li>
</ul>
<p>Our guides can effectively manage our clients from a small group to a large group. Because each climber generally needs 2 to 4 porters, each additional client multiplies the number of people under the guide’s care. We also book longer trips, which, due to proper acclimatization, increase the probability of successful summits, which in turn gives a sense of satisfaction to the guide and staff.</p>
<p>Because of our hardworking porters, all you need to do on your climb is walk. Porters carry the tents, sleeping bags, mattresses, food, water, cookware, gas, stoves, medical supplies, chairs and tables – not to mention your camping gear. It is a tough job and anyone who has climbed Mount Kilimanjaro will tell you that their strength, skill and stamina are incredible.</p>

<p><strong>Our porters take care of you, so we take care of them.</strong></p>
<p>We take porter welfare very seriously and we do our best to ensure that all our staff is treated well. We strive to have the best porters through fair and honest treatment of our staff. We ensure that:</p>
<ul>
	<li>Our porters have the proper gear and equipment to handle the mountain. Their clothing, sleeping bags and tents are sufficiently warm and/or waterproof.</li>
	<li>Our porters are fed nutritious meals in adequate amounts of their preferred local foods.</li>
	<li>Our porter loads are limited to 35 lbs (15 kgs). The porter to client ratios we utilize are sufficient to handle the equipment needed. If more porters are needed for a party, we will add more.</li>
	<li>We pay our porters the recommended salaries.</li>
</ul>