<%- model_class = Safari.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<% @safaris.each do |safari| %>
<article>
	<h2><%= link_to safari.title, safari_path(safari), title: safari.title %></h2>
	<%= markdown safari.description.truncate(500) %>
	
</article>
<hr>
<% end %>


<% if can? :access, @safaris %>
	<%= link_to t('.new', :default => t("helpers.links.add_another_safari")),
	            new_safari_path,
	            :class => 'btn btn-primary' %>
<% end %>